.advice
{
    background-color: #fcfcfc !important;
    height: 149px !important;
    width: 300px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(187, 173, 173, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(187, 173, 173, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(187, 173, 173, 0.75);
    padding:10px;
    display: flex;

    .icon-holder{
        height:100%;   
        width:50px!important;
        text-align: center;
    }

    .info-holder{
        height:100%;   
        width:250px!important;
        max-width:250px!important;
        word-break: break-word;
        padding-left:20px;
        padding-right:20px;
        position: relative;

        h3{
            margin-top:0;
            transition: all ease-in 0.3s;
        }

        .resp_nr {
            position: absolute;
            bottom: 0;
            font-style: italic;
            color: #969696;
            width: 220px;
            text-align: right;
        }

        .question {
            height: 65px!important;
            overflow: hidden;
        }
    }
}

.advice .fa{
    color: #70bd53;
    opacity: 0.8;
    transition: all ease-in 0.3s;
}

.advice:hover{
    cursor: pointer;
}

.advice:hover .fa{
    color: #353535;
}

.advice:hover .info-holder h3{
    color: #70bd53;
}

.item1 {
    grid-area: header;
    width: 93%;
    height: auto !important;
    position: relative;
    border: 1px solid #70bd53;

    .info-holder {
        width: 700px !important;
        max-width: 700px !important;
    }

    .resp_nr{
        display:none;
    }

    .response {
        padding-top: 30px;
        padding-bottom: 30px;
        display: flex;
        border-bottom: solid 1px #80808040;
    }

    

    .responses .fa-window-close{
        position: absolute;
        top: 0;
        right: 0;
        font-size: 26px;
        color: red;
        cursor: pointer;
    }

    .specialist-input-advice{
        display:flex;
        input{
            width: 80%;
            height: 30px;
            margin-top: 10px;
        }

        button{
            height: 36px;
            margin-top: 10px;
            margin-left: 27px;
            background-color: #70bd53;
            color: white;
            bordeR: none;
            outline: none;
            padding: 0 5px;
            font-size: medium;
            transition:all ease-in 0.3s;
        }

        button:hover{
            background-color: #353535;
        }
    }
   
    
}

.item1:hover{
    cursor: auto !important;
}