.app{
  position: relative;
}

.hidden{
  display:none !important;
}

.show{
  display:block !important;
}

.full-height{
  min-height: 100%;
}

.auto-height{
  height: auto !important;
}

.full-width{
  min-width: 100%;
}

.half-width-container{
  width: 100%;
  display:flex;
}

.half-width{
  width: 50%;
}

.third-width{
  width: 33%;
}

.align-center{
  text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.container {
  width: auto;
  padding: 30px 15%;
  height: 100%;
}

@media (max-width:900px){
  .container {
    width: auto;
    padding: 30px 5%;
    height: 100%;
  }

  .half-width{
    width: 100%;
  }

  .half-width-container{
    width: 100%;
    display:inherit;
  }
}


.alert-boxed{
  text-align: center;
  margin: 0 !important;
  position: fixed;
  bottom: 10px;
  width: 100%;
  z-index: 1000;
}
