
.footer{
    background-color: #2d2d2d;
}

.dashboard{
    display: flex;
    background-color: #ededed ;
    overflow: hidden;

    div{
        background: none;
        height: auto;
    }
    
    .sidebar {
        width: 300px;
        height: 100%;
        max-width: 300px; 
        min-width: 300px; 
        -webkit-box-shadow: 6px 6px 20px -6px rgba(0,0,0,0.75);
        -moz-box-shadow: 6px 6px 20px -6px rgba(0,0,0,0.75);
        box-shadow: 6px -12px 20px -6px rgba(0,0,0,0.75);
        background-color: #71bc53;
        position: relative;
       
    }
}

.sidebar{

    .sidebar-image{
        background: none;
        padding: 50px 70px;
        padding-bottom: 20px;
    }

    .sidebar-image img{
        width: 100%;
        color: white;
        background: #ffffffde;
    }

    .label{
        text-align: center;
        font-size: x-large;
        color: white;
        margin-bottom: 50px;
    }

    .bottom-container {
        display: flex;
        position: absolute;
        bottom: 100px;
        width: 100%;
    
        div{
            text-align: center;
            width: 50%;
        }

        button {
            height: 37px;
            width: 100px;
            background-color: #2e2e2e;
            border: none;
            color: white;
            font-size: medium;
            border-radius: 3px;
            outline: none;
            cursor: pointer;
            transition: all ease-in 0.5s;
        }

        button:hover, .sidebar .bottom-container button:focus, .sidebar .bottom-container button:active:focus {
            background-color: rgb(51, 97, 66);
        }
    }



    .action-container {
        height: auto;
        text-align: center;

        button{
            width: 150px;
            height: 40px;
            background-color: #ffffffe6;
            border: none;
            margin-bottom: 25px;
            font-size: medium;
            color: #5c6746;
            font-weight: bold;
            border-radius: 3px;
            cursor: pointer;
            transition: all ease-in 0.2s;
            outline: none;
        }

        button:hover,  button:active,  button:focus,  button:active:focus{
            background-color: white;
            border: 1px solid;
        }

        .menu-projects{
            position: relative;
        }

       
        .menu {
            /* background-color: #2e2e2e !important; */
            position: absolute;
            left: 230px;
            top: 0;
            z-index: 100;
            button{    
                margin-bottom: 0;
                border-radius: 0;
                background-color: #888888;
                color: white;
                border-bottom: 1px solid #ffffff4a;
                border-top: solid 1px #ffffff4a;
            }
        }

        


    }
}

.mobile-sidebar{
    position: absolute;
    z-index: 100;
    background-color: #2e2e2e !important;
    color: white;
    padding: 5px 8px;
    margin: 20px;
    display:none;
}

@media (max-width:900px){
    .mobile-sidebar{
        display:block;
    }

}

.dashboard .content{
    height: 100%;
    width: calc(100% - 300px);
}

.menu {
    width: 0;
    overflow: hidden;
    transition: all .5s ease-in-out;
    transition-delay: 0.1s;
}

.menu:hover {
    width: 150px!important;
    transition-delay: 0s;
}

.show-me-the-menu:hover + .menu{
    width: 150px!important;
    transition-delay: 0s;
}

.sidebar{
    width: 300px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.sidebar.maximize{
    width: 300px;
}

.sidebar.minimize{
    width: 0px!important;
    min-width: 0px !important; 
    overflow: hidden;
}

.spinner{
    height:200px;
    width:200px;
    position: absolute;
    left: 50%;
    top: 30%;
}

.content{
    padding:50px;
}

.diploma{
    display: flex;
    border-bottom: #d0d0d0 1px solid;
    padding: 10px;
    position: relative;

    i{
        margin-right:20px;
    }

    .column{
        width: 300px;
        font-weight: bold;
    }

    .right{
        text-align: right;   
    }

    .left{
        text-align: left;
    }

    .center{
        text-align:center;
    }

    .fa-check-circle{
        color: green;
        margin-left:5px;
        position:absolute;
        right:0px;
        cursor: pointer;
    }

    .fa-times-circle{
        color: red;
        margin-left:5px;
        position:absolute;
        right:0px;
        cursor: pointer;
    }

    .btn-check-verified {
        position: absolute;
        right: 75px;
        top: 13px;

        button{
            height: 40px;
            width: 70px;
            color: white;
            border: none;
            background-color: #70bd53;
            border-radius: 40px;
            cursor: pointer;
            outline: none;
        }

        button:hover{
            background-color: #3e722b;
        }
    }
    
}

.add-new-diploma  {

    input{  
        width: 80%;
        height: 30px;
        border: none;
        outline: none;
        padding-left: 20px;
        border-radius: 3px;
    }

    button {
        height: 30px;
        float: right;
        background-color: #2e2e2e;
        color: white;
        font-size: medium;
        border: none;
        outline: none;
        padding: 0 13px;
    }

    button:hover{
        background-color: #141414;
    }
}

.create-proj{
    width: 100%;
    height: 80% !important;

    .header-create{
        display: flex;
        position: relative;
        
  
        h1{
            font-size: 45px;
            border-bottom: 10px solid #78be47;
            padding-bottom: 10px;
        }
    }

    .login_cluster{
        width: 510px;

        input{
            width: 100%;
            height: 30px;
            margin-bottom: 25px;
            border: none;
            padding-left: 10px;
            border-radius: 4px;
            outline-color: #70bd53;
        }

        .fixed_place{
            top:-20px;
        }
    }

    .right-panel{
        margin-left: 50px;
        position: relative;
        width: 80%;

        textarea{
            height: 135px;
            min-height: 135px;
            max-height: 135px;
            margin-top: 14px;
            position: absolute;
            bottom: 23px;
            opacity: 0.9;
            width: 100%;
            min-width: 100%;
            max-width: 100%;
            border: none;
            border-radius: 5px;
            padding: 5px;
            outline-color: #70bd53;
        }

        img{
            height: 150px;
            position: absolute;
            right: 0;
            top: 0;
            opacity: 0.7;
        }

        .fixed_place{
            top:142px;
        }

    }

    button{
        height: 35px;
        width: 520px;
        border: none;
        outline: none;
        background-color: #70bd53;
        color: white;
        font-size: large;
        border-radius: 3px;
        cursor: pointer;
    }

    button:hover{
        background-color: #2b6317;
    }
    
}

.my-project{
    .header-my-project{
        display: flex;
        width: 100%;
        position: relative;
        img{
            max-height: 200px;
            max-width: 400px;
            position: absolute;
            right: 0;
            -webkit-box-shadow: -1px 1px 18px -6px rgba(102,102,102,1);
            -moz-box-shadow: -1px 1px 18px -6px rgba(102,102,102,1);
            box-shadow: -1px 1px 18px -6px rgba(102,102,102,1);
        }

        h1{
            margin-bottom: 32px;
            border-bottom: 6px solid #70bd53;
            padding-bottom: 30px;
            padding-right: 300px;
        }

      
    }

    .descript{
        text-align: justify;
        font-size: large;
        overflow: auto;
        max-height: 180px !important;
        overflow-x: hidden;;
    }

    .first-row{
        margin-top:20px;

        i{
            color: #70bd53;
            transition:all ease-in 0.6s;
        }

        i:hover{
            transform: rotateZ(360deg)
        }

        h2{
            color:#2e2e2e
        }
    }
}

.proj-card{
    height: 300px !important;
    width: 100%;
    max-width: 100%;
    background-color: #ffffff94 !important;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.19);
}

.proj-card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 45px;
    max-height: 700px;
    overflow: auto;

    .proj-card-img{
        background: no-repeat center center; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100px;
        border-bottom: solid 20px #70bd53;
    }

    .proj-card-info {
        padding: 0 20px;
    }
    
    
}

.costs-materials{
    .text-info-cost{
        background-color: #2e2e2e;
        color:white;
        text-align: justify;
        border-radius: 4px;
        overflow: auto;
        max-height: 635px;
        div{
            padding:20px;
        }
    }

    .nr-info-cost{
        text-align: center;
        .compute-cost{
            font-size: 70px;
            color: #70bd53;
            position: relative;
            width: fit-content;
            i{
                position: relative;
            }
            textarea{
                position: absolute;
                left: 57px;
                top: 19px;
                text-align: center;
                font-size: 2em;
                width: 159px;
                height: 171px;
                border: none;
                background: none;
                outline: none;
                overflow: hidden;
                min-width: 159px;
                max-width: 159px;
                min-height: 171px;
                max-height: 171px;
                resize: none;
                color: #1394b4;
            }

            textarea::-webkit-input-placeholder { /* WebKit browsers */
                font-size: 0.15em; /* 1em -> input font-size * 1 -> 40px * 1 = 40px */
                padding-top:  50px
            }
            
            textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                font-size: 0.15em;
                padding-top: 50px
            }
            
            textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
                 font-size: 0.15em;
                 padding-top:  50px
            }
            
            textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
                font-size: 0.15em;
                padding-top:  50px
            } 

           

        }
    }

    .result-cost{
        text-align: center;
        width: 60%;
        margin-left:-30px;
        margin-top: 56px;
        font-size: 80px;
        color: #70bd53;
    }

    .size-info{
        padding-right: 30px;
        margin-top: 40px;
        i{
            font-size: 100px;
            margin-top: 20px;
            opacity: 0.9;
            color: #028fb4;
        }
    }
}


.full-screen {
    position: absolute;
    background-color: #00000085 !important;
    width: 100% !important;
    height: 100% !important;
    top: 0;
    left: 0;
    text-align: center;
    img{
        padding-top:50px;
        height: 80%;
        cursor: pointer;
    }

    .fa-window-close{
        color: red;
        position: absolute;
        top: 50px;
        right: 150px;
        background-color: white;
        padding: 4px;
        font-size: x-large;
        cursor: pointer;
    }
}

.compute-map {
    padding: 0 50px;
    padding-left: 150px;
    width: 100%;
    position: relative;
    i{
        font-size: 198px;
        color: #70bd53;
    }
    h1{
        font-size: 62px;
        color: #1394b4;
    }
    textarea{
        position: absolute;
        left: 157px;
        top: 36px;
        text-align: center;
        font-size: 7em;
        width: 159px;
        height: 171px;
        border: none;
        background: none;
        outline: none;
        overflow: hidden;
        min-width: 159px;
        max-width: 159px;
        min-height: 171px;
        max-height: 171px;
        resize: none;
        color: #1394b4;
        letter-spacing: -0.25em;
    }

    textarea::-webkit-input-placeholder { /* WebKit browsers */
        font-size: 0.35em; /* 1em -> input font-size * 1 -> 40px * 1 = 40px */
        padding-top:  40px;
        letter-spacing: 0;
    }
    
    textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        font-size: 0.35em;
        padding-top: 30px;
        letter-spacing: 0;
    }
    
    textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
         font-size: 0.35em;
         padding-top:  30px;
         letter-spacing: 0;
    }
    
    textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
        font-size: 0.35em;
        padding-top:  30px;
        letter-spacing: 0;
    } 
}

p.selectionShareable {
    font-size: larger;
    margin-bottom: 10px;
    text-align: justify;
}

.solar-energy img{
    width: 50%;
}

