.dashhome{
    height: 550px !important;
    .slider{
        width: 80%;
        margin-left:5%;
        height: 100% !important;
        border: solid 5px #70bd53;
        border-radius: 8px;
    
        div{
            width: 100%;
            height: 450px !important;
            background-color: white;
            text-align: center;
            opacity: 1;
            -webkit-transition: opacity ease-in 0.6s;
            transition: opacity ease-in 0.6s;
            padding-top: 100px;
            line-height: 30px;
            font-size: large;
            color: #2e2e2e;
        }

        ul{
            width: 92%;
        }
        ul li {
            list-style: none;
        }
    }
    .slider-btn {
        text-align: center;
        padding-right: 140px;
        padding-top: 20px;
        
        button{
            height: 30px;
            background-color: #2e2e2e;
            color: white;
            border: none;
            outline: none;
            width: 100px;
            margin: auto 20px;
            cursor: pointer;
        }

        button:hover{
            background-color: #111111;
        }
    }
}

.not-visible{
    opacity: 0 !important;
    visibility: hidden;
    position: absolute !important;
    top:0;
    left: 30%;
}