.footer {
    width: 100%;
    height: 65px;
    background-color: #e18e41;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
}

.title {
    width: 33%;
    text-align: center;
    font-size: larger;
    padding: 20px 0;
    color: white;
}

.image{
    width: 33%;
    text-align: center;
}

.image img{
    height: 80%;
    background-color: #ffffffb5;
    padding: 0 20px;
    margin-top: 6px;
}

.project {
    width: 33%;
    font-size: larger;
    color: white;
    padding: 20px 0;
    text-align: center;
}

@media (max-width:900px){
    .title, .project{
        display:none;
    }
}