.header {
    height: 50px;
    background-color: #00000061;
    color: white;
    width: 800px;
    margin: 20px;
    position: fixed;
    right: 0;
    padding: 0 20px;
    z-index: 10;
    transition: all .5s linear;
}

.header ul{
    width: 100%;
    display: table;
    table-layout: fixed;
    padding: 0;
    margin-top: 0px;
}

.header li{
    list-style: none;
    display: table-cell;
    width: auto;
    text-align: center;
    cursor: pointer;
    padding-top: 10px;
}

.header img{
    display: none;
    opacity: 0;
}

.header li:hover{
    font-weight: bold;
    border-bottom: 3px solid #ffffc182;
    padding-bottom: 4px;
    color: #ffffc1;
}

.header li i{
    padding-right: 10px;
}

.fixed {
    height: 60px;
    margin: 0;
    width: 100%;
    background-color: #353030;
    transition: all .5s linear;
}

.fixed ul {
    list-style-type: none;
    float: right;
    width: auto;
}
.fixed li { 
    float: left; 
    padding:18px 20px;
}

.fixed img {
    display: block;
    opacity: 100;
    height: 54px;
    position: absolute;
    left: 74px;
    top: 3px;
    background-color: white;
    padding: 0 10px;
}

.dashboardmenu{
    position: relative;
}

.dashboardmenu div{
    background-color: #e18e41;
    height: 28px;
    font-weight: bold;
}

.fixed .dashboardmenu div{
    padding: 0 12px;
}

@media (max-width: 900px){
    .header, .fixed {
        width: 100%;
        margin: 0;
        padding: 0;
        height: auto;
    }

    .fixed img {
        display:none;
    }

    .fixed ul{
        width:100%;
    }

    .fixed li, .header li { 
        float: none; 
        padding:0 0px;
        vertical-align: middle;
    }
}

.logMenu {
    position: absolute;
    background-color: #2f2f2f94 !important;
    height: 0 !important;
    top: 56px;
    width: 135px;
    right: 0px;
    padding: 0 !important;
    border-top: 0px solid #e18e41;
    transition: all ease-in 0.5s;
    overflow: hidden;
    transition-delay: 1s;
}

.fixed .logMenu {
  
    top: 62px;
}

.logMenu ul{
    display: inline-grid;
    height: 100%;
    width: 100%;
}

.logMenu li{
    padding-top:13px;
    padding-bottom:13px
}

.dashboardmenu:hover .logMenu{
    height: 100px!important;
    border-top: 6px solid #e18e41;
    transition-delay: 0s;
}