.main-container{
    box-sizing:border-box;
    padding: 30px 50px 100px 50px;
    width: 100%;
}

.hidden{
    display: none;
}

.full-height{
    height: 100%;
}

.full-width{
    width: 100%;
}

.landing{
    background: url(../../public/Page-Header.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.landing img{
    width: 400px;
    background-color: #ffffffcc;
    padding: 0 20px;
    position: absolute;
    top: 300px;
    right: 10%;
}

@media (max-width: 900px){
    .landing{
        text-align: center;
    }
    .landing img{
        width: 80%;
        right: 0;
        margin-top: 50%;
        position: inherit;
    }
}

.about-passive{
    height: 500px;
    background-color: white;
}

.passive-examples{
    text-align: center;
    background-color: #353030;
    padding: 40px;
    padding-top: 20px;
    padding-bottom: 75px;
}

.passive-examples h1{
    color:white;
}

.solar-energy{
    height: 500px;
    background-color: white;
}

.why-passive{
    height: 500px;
    background-color: white;
    padding-bottom: 50px !important;
    text-align: center;
}

.last-in-main{
    padding-bottom: 150px !important;
}

.register-now{
    background-color: #008db2;
    color: white;
    text-align: center;
    font-size: x-large;
}

.definition{
    font-size: larger;
    line-height: 30px;
    text-align: justify;
}

.definition p{
    margin-top:40px;
}

.list-descript{
    font-size: large;
    text-align: justify;
}

.list-descript ul {
    padding:0;
}

.list-descript i{
    padding: 5px;
    color: #008db2;
}

.list-descript li{
    margin-bottom: 20px;
    list-style: none;
}

.carousel{
    width: 800px;
    overflow: hidden;
}



.slick-prev:before, .slick-next:before {
    font-size: 60px;
    z-index: 99999;
}
    
.slick-next {
    right: 160px;
    z-index: 99999;
}

.slick-prev{
    left:100px;
    z-index: 99999;
}

@media (max-width:900px){
    .slick-prev, .slick-next {
        font-size: 60px;
        z-index: 99999;
    }
    .slick-next {
        right: calc(40% - 25px);
        top:85%;
    }

    .slick-prev{
        left:40%;
        top:85%;
    }
    
    .slick-prev{
        left:0;
    }
}

.slick-dots li button:before {
    font-size: 12px;
}

.slick-dots li.slick-active button:before {
    color: white;
}


.slick-slide{
    overflow: hidden;
    text-align: center;
    height: 400px;
    transition: all .5s linear;
}

.slick-slide .contain-image {
    height: 350px;
    width: 400px;
    overflow: hidden;
    margin: auto;
    margin-top: 25px;
}

.slick-slide img{
    opacity: 0;
    display: block;
    height: 400px;
    
    transition: all .5s linear;
}

.slick-center .contain-image {
    height: 400px;
    margin-top: 0;
}

.slick-slide.slick-active img{
    opacity: 0.5;
    margin: auto;
    margin-top: 0px;
}


.slick-slide.slick-center.contain-image{
    height: 400px;
    width: auto;
    overflow: hidden;
    margin: auto;
}


.slick-slide.slick-active.slick-center img{
    opacity:1;
    height: 400px;
    margin-top: 0;
}

.register-now button{
    font-size: x-large;
    padding: 10px 20px;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: #353030;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    border-radius: 2px;
    transition: all .5s linear;
}

.register-now button:hover, .register-now button:focus, .register-now button:active{
    background-color: #504a4a;
    transform: scale(1.05);
}

.why-passive img{
    height: 80px;
}

.why-passive .head{
    height: 50px;
    margin: 0 50px;
    color: white;
    font-size: xx-large;
    padding-top: 10px;
    border-radius: 14px;
    -webkit-box-shadow: 0px 0px 24px 3px rgba(186,186,186,1);
    -moz-box-shadow: 0px 0px 24px 3px rgba(186,186,186,1);
    box-shadow: 0px 0px 24px 3px rgba(186,186,186,1);
}

.why-passive .head.pro {
    background-color: #0e540b;
}

.why-passive .head.con {
    background-color: #a60000;
}

.why-passive ul{
    background-color: #d3d3d340;
    margin: 0 60px;
    list-style: none;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
}

.why-passive li:before {
     /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em; /* same as padding-left set on li */
    width: 1.3em; /* same as padding-left set on li */
  }

  .why-passive li{
    padding-bottom:10px;      
  }

  .why-passive .pro li:before{
    content: "\f164";
    color: #0e540b;
  }

  .why-passive .con li:before{
    content: "\f165";
    color: #a60000;
  }

  .big-frame .slick-slide{
      height: 640px;
  }

  .gif-container{
      text-align: center;

      img.Image-gif {
        width: 50%;
        padding: 30px;
    }
}

.principles {
    background-color: #7bbc46;
    color: white;
    line-height: 30px;
    text-align: justify;
    
    .hyper{
        font-size: larger;
        font-weight: bold;
    }
}

.fixed-image-back{
    background: url("https://www.seia.org/sites/default/files/2017-09/history-seia-hero_0.png")no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 200px;
    opacity: 0.7;
}