.login{
    height: 100%;
}

.login .landing{
    background: url(../../public/Login-Header.jpg) no-repeat center bottom fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
    //opacity: 0.7;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

.login .layer{

    background-color: rgba(62, 62, 62, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.login .overpose {
    position: fixed;
    top: 150px;
    /* background-color: blue; */
    width: 100%;
    height: 100%;
    
}

.view-layer{
 
}

.loginView{
    height: 450px;
    background-color: #00000091;
    color: white;
    width: 400px;
    margin:auto;;
  
    position: relative;
}

.registerView{
    height: auto;
    background-color: #00000091;
    color: white;
    width: 400px;
    margin:auto;
    margin-top:-50px;
    position: relative;
}

.loginView-header {
    background-color: #00000033;
    padding: 5px 30px;

}

.loginView-header h1{
    margin-bottom:10px;
}

.loginView-header p{
    font-size: xx-small;
    opacity: 0.5;
}

.loginView-header i{
    position: absolute;
    right: 20px;
    top: 20px;
    opacity: 0.5;
}

.loginView-container{
    padding:30px;
}

.loginView-container input{
    width: 325px;
    margin: 20px auto;
    height: 30px;
    padding-left: 10px;
    color: darkslategray;
    outline-color: springgreen;
}

.registerView input{
    margin: 10px auto;
}

.loginView-container button{
    height: 36px;
    width: 100%;
    margin-top: 30px;
    background-color: #e18e41;
    border: none;
    font-size: large;
    color: white;
    outline: none;
}

.loginView-container button:focus, .loginView-container button:focus:active, .text-layer-container button:focus, .text-layer-container button:active{
    background-color: #e0720b;
}

.text-layer-container {
    width: 500px;
    text-align: center;
    margin: auto;
    color: white;
    padding-top: 75px;
}

.text-layer-container h1{
    font-size: 45px;
}

.text-layer-container p{
    font-size: smaller;
    margin-bottom: 5px;
}

.text-layer-container button{
    height: 36px;
    width: 130px;
    margin-top: 30px;
    background-color: #e18e41;
    border: none;
    font-size: large;
    color: white;
    outline: none;
}