.user-add-advice {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    'header header header'
    'main main main '
    'main main main ';
    grid-gap: 20px;
    max-height: 370px;
    overflow: auto;
}

.advice-panel{
    textarea{
        width: 70%;
        height: 70px;
    }
}

.add-advice{
    display:flex;

    button{
        background-color: #2e2e2e;
        color: white;
        height: 40px;
        width: 100px;
        border: none;
        margin-left: 50px;
        outline: none;
        transition:all ease-in 0.3s;
    }

    button:hover{
        background-color: #646464;
    }
}
