.my-fa-add{
    font-size:150px;
    display: flex;
    color:#2e2e2e;
    h1{
        font-size: 50px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin: 68px 0 20px 50px;
        padding-bottom: 12px;
        border-bottom: 11px solid #70bd53;
        padding-right: 200px;
        color:#2e2e2e;
    }
}

.responded{
    color: #70bd53;
}