.alert {
    background-color: red;
    height: auto;
    width: 70%;
    opacity: 0.9;
    color: white;
}

.alert, .alert-danger{
    background-image: none;
    display: inline-block;  
    z-index: 99999;
    text-align: center;
    color: #ffffff;
    border: none;
    border-radius: 0;
   
    transition: all .5s ease-in-out;
}

.alert .green-alert{
    background-color: rgb(7, 160, 7) !important;
}

.alert p{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left:10px;
    padding-right:10px;
}

.red-alert {
    background-color: #bb0909 !important;
    -webkit-box-shadow: 0 0 2px 1px #a24141;
    -moz-box-shadow: 0 0 2px 1px #a24141;
    box-shadow: 0 0 2px 1px #a24141;
}

.red-alert:hover{
    background-color: #a24141 !important;
}

.green-alert{
    background-color: #0e9c79 !important;
    -webkit-box-shadow: 0 0 2px 1px #12c59a;
    -moz-box-shadow: 0 0 2px 1px #12c59a;
    box-shadow: 0 0 2px 1px #12c59a;
}

.green-alert:hover{
    background-color: #12c59a !important;
}

.alert:hover, .alert-danger:hover{
    transform: scale(1.1);
}



.close_icon{
    font-size: 25px;
    line-height: 0.7;
    color: #a24141;
    padding: 0 1px 0 1px;
    margin: -7px 0 0 10px;
    background-color: #ffffff;
    border-radius: 100%;
}

.close_icon:hover{
    color: #a24141;
}

.danger_disabled{
    display: none;
     transition: all 0.5s ease;
}