.fixed_place{
    position: absolute;
    top: 0px;
    color: #a3a3a3;
    font-size: 12px;
}

.login_cluster{
    position: relative;
}

.login_error{
    border:1px solid red !important;
}

.registerView .fixed_place{
    top:-8px;
}